{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
   }
  },
  "rules": {
    "no-console": "error",
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}
