.modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.input {
  width: 100%;
  margin: 10px 0 20px 0;
}

.modal.visible {
  display: block;
}

.modal-container {
  width: 400px;
  border-radius: 10px;
  margin: 15% auto 0;
  background-color: #120f19;
}

.modal-content {
  padding: 10px;
  color: #fff;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.modal-header-text {
  font-size: 20px;
  color: #fff;
}

.modal-close {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modal-btn {
  margin: 0px 10px;
}
