.message-input {
  width: 80%;
  background-color: #120F19;
  border: 1px solid #231A2F;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  color: #8D8A9B;
}

.message-input-container {
  display: flex;
  align-items: center;
}
