.dialogues {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8D8A9B;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 53px;
  background-color: #120F19;
  border-top: 3px solid #231A2F;
  border-bottom: 3px solid #231A2F;
}
