{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "node": true
  },
  "rules": {
    "import/no-dynamic-require": "off",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "prettier/prettier": ["error"]
  }
}
