.input {
  padding: 10px 20px;
  background-color: #4d38a2;
  border: 1px solid #231a2f;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input::placeholder {
  color: #8d8a9b;
}
