.dialogue {
  max-height: 100vh;
  background-color: #120f19;
  border: 3px solid #231a2f;
}

.container {
  height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar { 
  display: none;
}
