.message-input {
  width: 80%;
  margin: 20px;
}

.message-input-container {
  display: flex;
  align-items: center;
}

.send-btn,
.send-btn-disabled {
  font-size: 35px;
  cursor: pointer;
}

.send-btn {
  color: #632ee7;
}

.send-btn-disabled {
  color: #919191;
}
