.dialogue-item {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 3px solid #231A2F;
  padding: 10px;
  background-color: #4D38A2;
  cursor: pointer;
}

.user-avatar {
  width: 35px;
  height: 35px;
  background-color: #4c4374;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

.container {
  display: flex;
}

.user-name {
  margin: 0 0 7px 0;
  font-size: 14px;
  color: #FFF;
}

.last-message {
  font-size: 12px;
  color: #FFF;
}

.send-time {
  font-size: 12px;
  color: #FFF;
}
